<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoPages</title>
  </head>
  <body>
    <header>
      <h2>Submit your HTML and instantly receive a URL to access it.</h2>
    </header>
    <main>
      <form action="/" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" placeholder="Enter page title" required><br>
        <label for="content">HTML Content:</label><br>
        <textarea id="content" name="content" rows="10" cols="50" placeholder="Paste your HTML here" required></textarea><br>
        <input type="submit" value="Submit">
      </form>
    </main>
    <footer>
      <p>Build with Crystal <%= Crystal::VERSION %> © 2024</p>
    </footer>
  </body>
</html>
