<header>
  <h2>Submit your HTML and instantly receive a URL to access it.</h2>
</header>

<form action="/" method="post">
  <%= ECR.render("#{__DIR__}/admin/pages/_form.ecr") %>

  <div>
    <input type="submit" value="Create Page">
  </div>
</form>
