<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EchoPages</title>
</head>
<body>
  <header>
    <h2>Pages</h2>
  </header>
  <main>
    <table>
    <%- pages.each do |page| -%>
      <tr>
        <td>
          <a href="/pages/<%= page[:id]%>"><%= page[:id] %></a>
        </td>
        <td>
          <%= page[:created_at] %>
        </td>
      </tr>
    <%- end -%>
    </table>
  </main>
  <footer>
    <p>Build with Crystal <%= Crystal::VERSION %> © 2024</p>
  </footer>
</body>
