<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoPages</title>
    <style>
      <%= ECR.render("#{__DIR__}/../../assets/stylesheets/application.css") %>
    </style>
  </head>
  <body>
    <main>
      <%= content %>
    </main>

    <footer>
      <p>Build with Crystal <%= Crystal::VERSION %> © 2024</p>
    </footer>
  </body>
</html>
