<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoPages</title>
  </head>
  <body>
    <h1>Editing Page</h1>

    <form action="/admin/pages/<%= uuid%>" method="post">
      <textarea name="content" rows="10" cols="50"><%= HTML.escape(content) %></textarea>
      <br>
      <input type="submit" value="Update">
    </form>

    <a href="/pages/<%= uuid%>">Show</a>
    |
    <a href="/admin/pages">Back</a>

    <footer>
      <p>Build with Crystal <%= Crystal::VERSION %> © 2024</p>
    </footer>
  </body>
</html>
