<h1>Editing page</h1>

<form action="/admin/pages/<%= id%>" method="post">
  <%= ECR.render("#{__DIR__}/_form.ecr") %>

  <div>
    <input type="submit" value="Update Page">
  </div>
</form>

<br>

<div>
  <a href="/pages/<%= id%>">Show this page</a>
  |
  <a href="/admin/pages">Back to pages</a>
</div>
