<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoPages</title>
    <style>
      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
      }

      th, td {
        text-align: left;
        padding: 16px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      .delete-link {
        background: none;
        color: blue;
        border: none;
        cursor: pointer;
        text-decoration: underline;
        font-size: inherit;
        padding: 0;
      }

    </style>
  </head>
  <body>
    <h1>Pages</h1>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Created at</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <%- pages.each do |page| -%>
          <tr>
            <td><%= page[:id] %></td>
            <td><%= page[:title] %></td>
            <td><%= page[:created_at] %></td>
            <td><a href="/pages/<%= page[:id]%>">Show</a></td>
            <td><a href="/admin/pages/<%= page[:id]%>/edit">Edit</a></td>
            <td>
              <form action="/admin/pages/<%= page[:id] %>/delete" method="post">
                <input type="submit" class="delete-link" value="Delete" onclick="return confirm('Are you sure you want to delete this page?');">
              </form>
            </td>
          </tr>
        <%- end -%>
      </tbody>
    </table>

    <footer>
      <p>Build with Crystal <%= Crystal::VERSION %> © 2024</p>
    </footer>
  </body>
</html>
